<div class="row">
    <div class="form-group" style="margin-top: 10px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-default" id="fixChangesInTable">Фиксировать изменения<br>в таблицу</button>
        </div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-default" id="createMap">Создать карту<br />учета акватории</button>
        </div>
    </div>
</div>
