<div class="row">
    <div class="form-group">
        <div class="row col-sm-3">
            <button id="changeCurrPath" class="btn btn-default">Змінити шлях до кореневої папки</button>
        </div>
        <div class="row col-sm-3">
            <button id="downloadProgram" class="btn btn-default">Скачати програму для налаштування</button>
        </div>
    </div>
</div>